.declaration-wrapper {
  display: flex;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
}

.declaration-form-wrapper {
  flex: 1;
}

.navigation-wrapper {
  padding: 30px;
  width: 300px;
  border-left: 1px solid #dedede;
}

.navigation-item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation-item:hover .text {
  opacity: 0.6;
}

.navigation-item:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  bottom: 0;
  width: 1px;
  background: #568ec5;
  z-index: -1;
}

.navigation-item + .navigation-item {
  padding-top: 20px;
}

.navigation-item + .navigation-item:after {
  top: 0;
}

.navigation-item:last-child:after {
  bottom: 10px;
}

.navigation-item .circle {
  margin: 4px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid #568ec5;
  background: white;
}

.navigation-item.filled .circle {
  background: #568ec5;
}

.navigation-item.error {
  color: red;
}

.navigation-item.tab .circle {
  margin: 0;
  width: 16px;
  height: 16px;
}

.navigation-item .text {
  margin-left: 10px;
}

.navigation-item.tab.filled .text {
  font-size: 16px;
  font-weight: bold;
}

.question-wrapper {
  margin-bottom: 20px;
}

.radio-item {
  display: flex;
}

.radio-item + .radio-item {
  margin-top: 10px;
}

.question-title {
  margin-bottom: 10px;
}

.radio-item-text {
  margin: 5px 0 0 10px;
}
